body {
                    font-family: Arial, sans-serif;
                    margin: 0;
                  }
                  
                  header {
                    background-color: #5fa81f;
                    color: #fff;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                  }
                  
                  nav ul {
                    list-style: none;
                    display: flex;
                  }
                  
                  nav li {
                    margin: 0 10px;
                  }
                  
                  nav a {
                    color: #fff;
                    text-decoration: none;
                  }
                  
                  section {
                    padding: 50px;
                  }
                  
                  h2 {
                    margin-top: 0;
                  }
                  
                  form label {
                    display: block;
                    margin-bottom: 10px;
                  }
                  
                  form input,
                  form textarea {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    border: 3px #0f0101;
                    border-style: dotted;
                  }
                  
                  form button[type="submit"] {
                    background-color: #6141ac;
                    color: #fff;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                  }
                

                img:hover
                {
                  border: 5px solid tomato;
                }
                  